.wc-wrapper {
  position: fixed;
  top: 5rem;
  left: 5rem;
}

@media(max-width: 1800px) {
  .wc-wrapper {
    left: 1.5rem;;
  }
}

@media(max-width: 1640px) {
  .wc-wrapper {
    visibility: hidden;
  }
}
